APP_NAME="Sistema de Nominas"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://IP_DEL_SERVIDOR:8000
LOG_CHANNEL=daily
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sistema_nominas
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=60
CACHE_STORE=database
QUEUE_CONNECTION=database
IMPORT_QUEUE_CONNECTION=database
EXPORT_QUEUE_CONNECTION=database
FIREBASE_QUEUE_CONNECTION=database
DB_QUEUE_RETRY_AFTER=1200

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"

FIREBASE_CREDENTIALS=app/firebase/service-account.json
FIREBASE_DATABASE_URL=
FIREBASE_AUTH_LOGIN_DOMAIN=mi-lugarth.app

FILESYSTEM_DISK=local
SECURITY_RECOVERY_ADMIN_EMAIL=
VITE_APP_NAME="${APP_NAME}"
